div.application {
  margin: auto;
  width: 50%;
  min-width: 50rem;
}

div.header {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

div.alert {
  margin-top: 2rem;
  font-size: 0.8rem;
}

div > app-card {
  margin: 1rem;
}

div > button {
  margin-left: 0.7rem;
  float: right;
}
