<div class="application">
  <div class="header text-center">
    <span class="h4">Програма за синхронизиране на ГНСС и ехолотни измервания</span>
  </div>

  <div *ngIf="successMessage && !errorMessage"
       class="alert alert-success"
       role="alert"
       [innerHTML]="successMessage">
  </div>

  <div *ngIf="warningMessage && !errorMessage"
       class="alert alert-warning"
       role="alert"
       [innerHTML]="warningMessage">
  </div>

  <div *ngIf="errorMessage"
       class="alert alert-danger"
       role="alert"
       [innerHTML]="errorMessage">
  </div>

  <app-card header="Входни данни">
    <app-input-data
      fileTitle="Файл с координати *"
      deltaTitle="Разлика в часовниците"
      deltaPattern="{{PATTERN_COORDINATES_CLOCK_DELTA}}"
      deltaPlaceholder="hh:mm:ss"
      deltaDefaultValue=""
      (inputDataChange)="inputDataChange($event, 'coordinates')">
    </app-input-data>

    <app-input-data
      fileTitle="Файл с дълбочини *"
      baseTitle="Изходна кота за вътрешни водоеми"
      basePattern="{{PATTERN_DEPTHS_HEIGHT_BASE}}"
      basePlaceholder="m.cm"
      baseDefaultValue=""
      deltaTitle="Дълбочина на потапяне на ехолотната антена"
      deltaPattern="{{PATTERN_DEPTHS_HEIGHT_DELTA}}"
      deltaPlaceholder="m.cm"
      deltaDefaultValue=""
      (inputDataChange)="inputDataChange($event, 'depths')">
    </app-input-data>
  </app-card>

  <app-card header="Изходни данни">
    <app-output-data
      filenameTitle="Име на файла с резултати *"
      filenameDefaultValue="output.csv"
      (outputDataChange)="outputDataChange($event)">
    </app-output-data>
  </app-card>

  <div id="buttons">
    <button *ngIf="!isLoading" type="button" class="btn btn-primary" (click)="validateAndProcessData()">
      <span class="sr-only"> Пресметни </span>
    </button>
    <button *ngIf="!isLoading" type="button" class="btn btn-warning" (click)="reloadCurrentPage()">
      <span class="sr-only"> Изчисти </span>
    </button>
    <button *ngIf="isLoading" class="btn btn-info" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="sr-only"> Зареждане... </span>
    </button>
  </div>
</div>
