<div class="file-input-wrapper mb-3">
  <div class="row">
    <div class="col-8 my-auto">
      <div class="row">
        <div class="col-3">
          <label class="file form-label">{{fileTitle}}</label>
        </div>
        <div class="col-9">
          <input class="form-control"
                 type="file"
                 accept=".csv,.txt"
                 required="required"
                 (change)="handleFileChange($event.target.files)">
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-7">
          <label class="form-label">{{deltaTitle}}</label>
        </div>
        <div class="col-5">
          <input class="form-control"
                 required="required"
                 (change)="handleDeltaChange($event.target.value)"
                 [pattern]="deltaPattern"
                 [placeholder]="deltaPlaceholder"
                 [defaultValue]="deltaDefaultValue">
        </div>
      </div>

      <div class="row" [hidden]="baseHidden">
        <div class="col-7">
          <label class="form-label">{{baseTitle}}</label>
        </div>
        <div class="col-5">
          <input class="form-control"
                 required="required"
                 (change)="handleBaseChange($event.target.value)"
                 [pattern]="basePattern"
                 [placeholder]="basePlaceholder"
                 [defaultValue]="baseDefaultValue">
        </div>
      </div>
    </div>
  </div>
</div>
